<h1><%= @rockle.name %></h1>
<ul>
  <li>Owner: <a href="<%= user_url(@rockle.user_id)%>"><%= @rockle.user.username%></a></li>
  <li>Level: <%= @rockle.level %></li>
  <li>Exp: <%= @rockle.exp %></li>
  <li>Max HP: <%= @rockle.max_hp %></li>
  <li>ATK: <%= @rockle.atk_points %></li>
  <li>DEF: <%= @rockle.def_points %></li>
  <li>SPD: <%= @rockle.spd_points %></li>
  <li>HP: <%= @rockle.hp_points %></li>
</ul>
