<!DOCTYPE html>
<html>
<head>
  <title>RockleGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless current_user.nil? %> 
  <%= render partial: "layouts/header" %>
<% end %>

<% flash.each do |key, value| %>
  <div class="flash <%= key %>">
    <ul>
      <% value.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= yield %>

</body>
</html>
